/* 4 - External */

body {
  padding-bottom: 500px;
}

h3 {
  color: green;
}

/*p {
  color: blueviolet;
}*/

/* Comentário de exemplo*/
/*Outro Comentário*/

/*Classes*/
.paragraph {
  background-color: #000;
  color: aqua;
}

/*IDs*/
#exclusive-title {
  background-color: purple;
  color: yellow;
  padding: 10px;
  font-size: 40px;
}

/*<!--10 - Multiplas regras, ordem do CSS-->*/

h2 {
  border-bottom: 2px solid red;
}

.titulo {
  border-bottom: 2px solid blue;
}

#algum-titulo {
  border-bottom: 4px solid green;
}

/*Nome de cores*/
.color-name {
  color: crimson;
}

/*Hex*/
.hex {
  color: #55a398;
}

.hex2 {
  color: #af65ff;
}
/*Hex SImplificado*/
.simple-hexad {
  color: #333;
}

.simple-hex-2 {
  color: #a5f;
}

/*RGB*/
.rgb {
  color: rgb(0, 255, 0);
}

.mixed-rgb {
  color: rgb(220, 210, 80);
}

/*RGBA - Alpha Opacidade*/
.rgbAlpha {
  color: rgba(161, 124, 235, 0.544);
}

/*HSL*/
.hsl {
  color: hsl(90, 20%, 55%);
}
.hsl2 {
  color: hsl(45, 30%, 42%);
}

/*Background*/
.bg {
  background-color: #000;
  color: #55a398;
}

.bg-2 {
  background-color: #524896;
  color: hsl(35, 25%, 42%);
}

/*BackGround-Opacity*/
.bg-opacity {
  background-color: green;
  opacity: 0.2;
}

.bg-opacity2 {
  background-color: #999;
  color: #000;
  opacity: 0.8;
}

/*RGBA com opacidade*/
.rgba-opacity {
  background-color: rgba(90, 120, 20, 0.2);
  color: black;
}

/* Background image*/
.bg-image {
  background-image: url("../img/nature.jpg");
  padding: 10px;
  color: #fff;
}

/*Centralizando imagem de background*/
.not-centered-bg,/*Agrupando duas classes para usar mesmas regras */
.centered-bg {
  height: 400px;
  width: 400px;
  background-image: url("../img/bridge.jpg");
}

.centered-bg {
  background-position: center;
  background-size: cover;
}
/* Largura e altura*/
.height-width {
  height: 200px;
  width: 100px;
  background-color: red;
}

.height-width-2 {
  height: 300px;
  background-color: #333;
}

/*Padding*/
.padding,
.without-padding {
  background-color: #111;
  color: #fff;
}
.padding {
  background-color: #333;
  padding: 20px;
}

/*Padding individual (lados individuais)*/
.padding-indiviual {
  background-color: #222;
  color: #fff;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 40px;
}

/*ShortHand Padding*/
.shorthand-padding {
  background-color: #444;
  padding: 6px 12px 18px 24px;
}

.shorthand-paddingVerticalHorizontal {
  background-color: #555;
  padding: 10px 20px;
}

/*Padding com Width*/
.without-border-box {
  background-color: #444;
  color: #fff;
  width: 400px;
  padding: 50px;
}

.border-box {
  background-color: #333;
  color: #fff;
  width: 400px;
  padding: 50px;
  box-sizing: border-box;
}

/*Border*/
.border {
  border: 5px solid red;
  padding: 10px;
}
.border-2 {
  border: 2px dotted #931;
  padding: 25px;
}

/*Borda Individual*/
.border-left {
  border-left: 3px solid red;
  background-color: #222;
  padding: 35px;
}
.border-bottom {
  border-bottom: 5px double #399;
  background-color: #222;
  padding: 40px;
}

/*Borda arredondada*/
.rounded-p {
  border: 4px solid blue;
  background-color: #000;
  color: blue;
  padding: 15px;
  border-radius: 15px;
}

.rounded-p2 {
  background-color: #000;
  color: blue;
  padding: 15px;
  border-radius: 15px;
}

/*Margin*/
.margin {
  margin: 10px;
}
.margin-top {
  margin-top: 50px;
  background-color: #444;
  padding: 10px;
}
.margin-shorthand {
  background-color: #666;
  margin: 20px 10px 15px 30px;
}
/*Box Model*/
.box-model {
  margin: 20px;
  padding: 15px 25px;
  border: 3px solid #845;
  border-radius: 7px;
  width: 300px;
  height: 400px;
  box-sizing: border-box;
}

/*Alinhamento de texto*/
.text-aligned {
  text-align: right;
}

.container-center {
  text-align: center;
  width: 300px;
  border: 1px solid red;
}

.container-left {
  text-align: left;
  width: 300px;
  border: 2px dotted red;
  border-radius: 15px;
}

/*Text Decoration*/

.underline {
  text-decoration: underline;
}

.line-trough {
  text-decoration: line-through;
}

.remove-underline {
  text-decoration: none;
  color: red;
}

/* Text Transform*/
.upper {
  text-transform: uppercase;
}
.lower {
  text-transform: lowercase;
}

/*Letter Spacing*/
.spacing {
  letter-spacing: 5px;
}

/*Fontes*/
.fonte {
  font-family: sans-serif;
}
.fonte2 {
  font-family: monospace;
  letter-spacing: 2;
}
.fonte3 {
  font-family: cursive;
}

/* Font-Style*/
.italic {
  font-style: italic;
  font-family: cursive;
}
.oblique {
  font-style: oblique;
  font-family: cursive;
}

/*Font Weight*/
.thin,
.bold,
.bolder {
  font-family: Helvetica;
}
.thin {
  font-weight: 100;
}
.bold {
  font-weight: 600;
}
.bolder {
  font-weight: 900;
}

/*Font-Size*/
.small {
  font-size: 10px;
}
.big {
  font-size: 78px;
}

/*Display*/
.inline-box {
  width: 50px;
  height: 50px;
  background-color: #4f8;
  margin: 10px;
  display: inline-block;
}
.block {
  background-color: rgb(99, 255, 68);
  margin: 10px;
  display: block;
  margin: 10px;
}
.invisible {
  display: none;
}

/*Static*/
.static {
  position: static;
  background-color: #391;
  color: #fff;
  width: 100px;
  height: 100px;
}

/*Relative*/
.relative {
  position: relative;
  background-color: #311;
  color: #fff;
  width: 100px;
  height: 100px;
  top: 100px;
  left: 40px;
}

/*Absolute*/
.absolute {
  position: absolute;
  background-color: #964;
  color: #fff;
  width: 100px;
  height: 100px;
  top: 2px;
  right: 2px;
}

.relative-container {
  width: 300px;
  height: 300px;
  border: 1px solid red;
  margin-top: 120px;
  position: relative;
}

.absolute-1,
.absolute-2 {
  width: 50px;
  height: 50px;
  background-color: #422;
  position: absolute;
}
.absolute-1 {
  top: 10px;
  left: 10px;
}
.absolute-2 {
  top: 80px;
  left: 60px;
}

/*Fixed*/
.fixed {
  width: 100px;
  height: 100px;
  border: 1px solid blue;
  background-color: #851;
  position: fixed;
  top: 50px;
  right: 50px;
}
/*Stick*/
.sticky {
  width: 100px;
  height: 100px;
  border: 1px solid #994;
  background-color: green;
  position: sticky;
  top: 10px;
  bottom: 10px;
}

  /*Z-Index*/
.absolute-3,
.absolute-4,
.absolute-5 {
    width: 50px;
    height: 50px;
    background-color: #123;
    position: absolute;
}
.absolute-3{
  top: 0px;
  left: 0px;
  z-index: 3;
}
.absolute-4{
  top: 10px;
  left: 10px;
  background-color: #246;
  z-index: 4;
}
.absolute-5{
  top: 40px;
  left: 40px;
  background-color: #453;
  z-index: 1;
}

